@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nova+Flat&family=Open+Sans:wght@300;400;500&family=Poppins:wght@500&display=swap");
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
:root {
    --primary-color: #1c90d0;
    --secondary-color: #21aaf6;
    --background-color: #0f172a;
    --form-back: #1e293b;
    --hover: #21aaf6;
    --white: #b7b7bd;
    --input-back: #334155;
    --label: #afb1b5;
}
body {
    background-color: var(--background-color);
    min-height: 100vh;
}

.username {
    text-transform: uppercase;
    color: white;
    border: 1px solid var(--primary-color);
    padding: 3px 7px;
    border-radius: 5px;
    background-color: #1c90d0;
    font-family: "Open Sans", sans-serif;
}
.username:hover {
    background-color: #21aaf6;
}

.container {
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.uniname {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: var(--primary-color);
    letter-spacing: 1px;
}
.left {
    flex: 1;
    padding: 20px;
    margin-right: 20px;
}
.left img {
    width: 470px;
    height: 350px;
    border-radius: 10px;
    margin-left: 40px;
}
.right {
    flex: 1;
    padding: 20px;
}

.right .item {
    width: 330px;
    background-color: var(--primary-color);
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.right .item:hover {
    background-color: var(--secondary-color);
}
i {
    margin-right: 15px;
}

table {
    color: var(--white);
    border-spacing: 10px 20px;
}
tr {
    background-color: var(--form-back);
}
td {
    padding: 10px;
    width: 100px;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
}
th {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border-radius: 5px 0px 0px 5px;
}
a{
    color: white;
}